:root {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hint {
  font-family: monospace;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
.hint::-moz-focus-outer {
  border: 0;
}
@-moz-document url-prefix() {
  .hint {
    border: 1px solid black;
  }
}

.hint > * {
  vertical-align: baseline;
}

#suggestion-table:focus > tr {
  background-color: brown;
}
.whiteBg:disabled {
  background-color: #fff;
  outline: 1px solid black;
}
pre,
code {
  white-space: normal;
}
